body { 
  font-family: Geneva,Tahoma,Verdana,sans-serif;
  background: url('cup_rings.jpg');
  border-top: 4px solid black;
}

div {
  background-color: #F8F8F8;
}

.alert {
  background-color: #D8D8D8;
}

.well {
  background-color: white;
}

/* .navbar-default {
  background-color: none;
  border-bottom: none;
} */

/*.navbar-default .navbar-toggle {
  border: none;
}*/

.clear_both {
  clear: both
}

.navbar {
  height: 80px;
  padding-top: 10px;
}

.navbar-brand {
  color: black !important;
  font-size: 30px;
}

.navbar-default a {
  color: black !important;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
  border-top: 10px;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }

  .bottom-bar {
    transform: rotate(0);
  }
}

.description {
  background-color: white;
  padding: 40px;
  border: 5px solid #F8F8F8;
  outline: 1px solid gray;
  outline-offset: -12px;  

}